{% load static %}

<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Login | Amnesicure</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'style_login.css' %}">
   <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
   <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
</head>

<body>
    <div class="container  py-5 mx-auto">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-10 my-5">   
                            <div class=" justify-content-start ">
                                <div class=" justify-content-start px-3 mb-3"> 
                                    <img id="logo" src="{% static 'images/logovirus.png' %}"> 
                                </div> 
                                <img src="{% static 'images/logotext.png' %}"> 
                            </div>
                            <p></p>
                            <h6 class="msg-info">Login</h6>
                            <form method="POST" action=''>
                                {% csrf_token %}

                                <div class="form-group">
                                    <label class="form-control-label ">Username</label> 
                                    <input type="text" id="name" name="username" placeholder="Username" class="form-control"> 
                                </div>
                                <div class="form-group"> 
                                    <label class="form-control-label ">Password</label> 
                                    <input type="password" id="psw" name="password" placeholder="Password" class="form-control"> 
                                </div>
                                <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color" type='submit'>Login now</button> </div>
                            </form>
                            <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted" >Lupa Password?</small></a> </div>
                        </div>
                    </div>

                    {% for message in messages %}
                        <p class="message text-center">{{message}}</p>
                    {% endfor %} 

                    <div class="bottom text-center mb-5">
                        <p href="#" class="sm-text mx-auto mb-3">Belum punya akun?<button class="btn btn-white ml-2" ><a href="{% url 'auth:register' %}">Klik disini</a></button></p>
                    </div>
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right">
                        <div class="row justify-content-center "> <img src=""> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>