{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Review | Amnesicure</title>
{% endblock meta %}

{% block content %}
<h1 class="text-center mt-4 mb-4">Review Dashboard</h1>

<br>

{% if is_prev_session == True %}

{% else %}
    {% if number_of_review == 0 %}
    <h3 class="text-center mt-4 mb-4">Belum ada flashcard yang siap direview</h3>
    {% else %}
    <h3 class="text-center mt-4 mb-4">{{ number_of_review }} flashcard siap direview</h3>
    {% endif %}
{% endif %}

{% endblock content %}