* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
}
.header {
	position: fixed;
	z-index: 111;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
}
.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.logo {
	font-size: 35px;
	text-decoration: none;
	padding: 10px;
	float: left;
	display: block;
	color: #2ebd94;
	font-weight: 700;
}
.header .menu a {
	padding: 15px 25px;
	font-size: 20px;
	display: block;
	color: #2ebd94;
	text-decoration: none;
}
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .3s ease-out;
}
.header .menu a {
	color: #2ebd94;
}
.header .menu a:hover {
	background: #2ebd94;
	color: #fff;
}
.header .menu-icon {
	position: relative;
	float: right;
	padding: 30px 20px;
	cursor: pointer;
}
.header .nav-icon {
	position: relative;
	display: block;
	height: 2px;
	width: 30px;
	background: #2ebd94;
}
.header .menu-icon .nav-icon::before {
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: #2ebd94;
	top: 7px;
	transition: all .2s ease-out;
}
.header .menu-icon .nav-icon::after {
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background: #2ebd94;
	top: -7px;
	transition: all .2s ease-out;
}
.header .menu-btn {
	display: none;
}
.header .menu-btn:checked~.menu {
	max-height: 600px;
}
.header .menu-btn:checked~.menu-icon .nav-icon {
	background: transparent;
}
.header .menu-btn:checked~.menu-icon .nav-icon::before {
	transform: rotate(-45deg);
	top: 0;
}
.header .menu-btn:checked~.menu-icon .nav-icon::after {
	transform: rotate(45deg);
	top: 0;
}
.banner {
	background-image: url(1.jpg);
	height: 100vh;
	display: flex;
	color: #fff;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-size: cover;
	background-position: center center;
}
.content h2 {
	color: #000;
	font-family: 'Bebas Neue', cursive;
	font-size: 42px;
}
.content h2 span {
	color: #2ebd94;
}
.content p {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
}
.content a {
	background: #2ebd94;
	text-decoration: none;
	color: #fff;
	padding: 10px 25px;
	display: inline-block;
	margin-top: 25px;
}
@media only screen and (min-width:768px) {
	.header {
		padding: 0px 50px;
	}
	.header .menu a {
		all: unset;
		color: #000;
	}
	.header .menu {
		all: unset;
		float: right;
		padding-right: 100px;
	}
	.header ul li {
		list-style: none;
		display: inline-block;
	}
	.header ul li {
		color: #fff;
		font-size: 20px;
		padding: 20px 10px;
		cursor: pointer;
	}
	.header .menu-icon {
		display: none;
	}
	.content h2 {
		font-size: 70px;
	}
}
@media (max-width: 600px) {
	.banner {
		background-position: 65%;
	}
	.content {
		text-align: left;
		padding-left: 5%;
	}
}
