{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Flashcard Decks</title>
{% endblock meta %}

{% block content %}
    <h1 class="text-center mt-4 mb-4">Flashcard Decks</h1>

    <div class="d-flex flex-wrap m-4">
        
        {% for deck in public_decks %}
        <div class="col">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ deck.public_deck.name }}</h5>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'flashcard:list_flashcard_public' deck.public_deck.pk %}" class="btn btn-primary btn-block">View Deck</a>
                        <a href="#" class="btn btn-secondary btn-block">Import Deck</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
{% endblock content %}