{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kartu Baru | Amnesicure</title>
{% endblock meta %}

{% block content %}
<div class="container">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <div class="container contact-form">
                <div class="contact-image">
                    <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <h3>Membuat Flashcard Baru</h3>
                   <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" name="question" class="form-control" placeholder="Your Question *" value="" />
                            </div>
                            
                        </div>
                        <div class="">
                            <div class="form-group">
                                <textarea name="answer" class="form-control" placeholder="Your Answer *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Buat" />
                        </div>
                    </div>
                </form>
    </div>
</div>
    

<style>

.contact-form{
    background: #00c6ff;
    margin-top: 15%;
    margin-bottom: 5%;

}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fff;
}
.btnContact {
    width: 40%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    margin-left: 230px;
    margin-top: 30px;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

</style>
{% endblock content %}