{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Kartu | Amnesicure</title>
{% endblock meta %}

{% block content %}
<h1>Nama Dek: {{ deck_name }}</h1>
<table>
  <tr>
    <th>Pertanyaan</th>
    <th>Jawaban</th>
  </tr>
  {% for i in list_flashcard %}
  <tr>
    <td>{{ i.question }}</td>
    <td>{{ i.answer }}</td>
  </tr>
  {% endfor %}
</table>
<!-- <div class="card mb-4 past-card">
            <div class="card-body">
                <h4>{{i.question}}</h4>
                <p>{{i.answer}}</p>
            </div>
        </div> -->
<br />
<a href="javascript:history.back()">Kembali ke Daftar Dek</a>
{% endblock content %}
