{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Beranda | Amnesicure</title>
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock meta %} {% block content %}
<div class="banner">
  <div class="content">
    <h2>AMNESI <span>CURE</span></h2>
    <p>Sebuah aplikasi flashcard yang dapat membantu anda dalam menghafal</p>
    {% if not request.user.is_authenticated %}
    <div class="alert alert-info" role="alert">
      Login untuk dapat membuat dek kartu
    </div>
    <a href="{% url 'auth:login' %}">Login</a>
    {% else %}
    <a href="{% url 'deck:create_deck' %}">Buat Dek Kartu</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
